* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 70vh;
  border: 1px solid black;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  /* flex-direction: column; */
}

.box {
  height: 50px;
  width: 50px;
}

.box1 {
  background-color: green;
  flex: 1 2 200px;
}

.box2 {
  background-color: green;
  flex: 1 2 150px;
}

.box3 {
  background-color: red;
  flex: 1 1 40px;
}

.box4 {
  background-color: orange;
  flex: 1 1 40px;
}

.box5 {
  background-color: red;
  flex: 1 1 40px;
}

.box6 {
  background-color: green;
  flex: 1 2 200px;
}

.box7 {
  background-color: red;
}

.box8 {
  background-color: orange;
}
